<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>OnSquareCode</title>
  </head>
  <body>
    <div class="navbar">
      <div class="logo"><a href="/" class="logoanker"><span class="logo-text">OnSquareCode</span></a></div>      <div class="link-tab"></div>
      <div class="login">
        <a href="https://github.com/jayendra1107/OnSquareCode" class="logoanker">
          <img class="login-btn" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" />
        </a>
      </div>
    </div>
    <form action="/" method="POST">
      <div class="description">
        <textarea
          name="codeDescription"
          class="description-container"
          placeholder="Add description here ..."
        ></textarea>
      </div>
      <div class="editor-container">
        <div></div>
        <div class="window-container">
          <div class="toolbar">
            <div class="dots">
              <span class="red-dot"></span>
              <span class="orange-dot"></span>
              <span class="green-dot"></span>
            </div>
            <div></div>
            <div class="lang-select">
              <select name="codeLanguage" class="dropdown" id="langSelector">
                <option value="Bash">Bash</option>
                <option value="C">C</option>
                <option value="C++">C++</option>
                <option value="C#">C#</option>
                <option value="Dart">Dart</option>
                <option value="Golang">Golang</option>
                <option value="Java">Java</option>
                <option value="Javascript">Javascript</option>
                <option value="Kotlin">Kotlin</option>
                <option value="PHP">PHP</option>
                <option value="Python">Python</option>
                <option value="R">R</option>
                <option value="Ruby">Ruby</option>
                <option value="Swift">Swift</option>
                <option value="Typescript">Typescript</option>
              </select>
            </div>
            <textarea name="codeBlock" id="codeBlock" class="hidden"></textarea>
            <div class="run">
              <button id="runBtn" type="submit" class="run-btn">Upload</button>
            </div>
          </div>
          <div class="code-window">
            <div id="editor">Your code goes here...</div>
          </div>
        </div>
        <div></div>
      </div>
    </form>
    <script>
      let input = document.getElementById("codeBlock");
      let runBtn = document.getElementById("runBtn");
      runBtn.onclick = function func() {
        input.value = editor.getValue();
      }
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/ace.js"
      integrity="sha512-OMjy8oWtPbx9rJmoprdaQdS2rRovgTetHjiBf7RL7LvRSouoMLks5aIcgqHb6vGEAduuPdBTDCoztxLR+nv45g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      let mode = "batchfile";
      let editor = ace.edit("editor");
      editor.setTheme("ace/theme/xcode");
      editor.session.setMode(`ace/mode/${mode}`);
      let langSelector = document.getElementById("langSelector");
      langSelector.onchange = function func() {
        var val = langSelector.value;
        if(val === "Bash") {
          mode = "batchfile";
        } else if (val === "C" || val === "C++"){
          mode = "c_cpp";
        } else if (val === "C#") {
          mode = "csharp";
        } else if (val === "Dart") {
          mode = "dart";
        } else if (val === "Golang") {
          mode = "golang";
        } else if (val === "Java") {
          mode = "java";
        } else if (val === "Javascript") {
          mode = "javascript";
        } else if (val === "Kotlin") {
          mode = "kotlin";
        } else if (val === "PHP") {
          mode = "php";
        } else if (val === "Python") {
          mode = "python";
        } else if (val === "R") {
            mode = "r";
          } else if (val === "Ruby") {
          mode = "ruby";
        } else if (val === "Swift") {
          mode = "swift";
        } else {
          mode = "typescript";
        }
        editor.session.setMode(`ace/mode/${mode}`);
      }
    </script>
  </body>
</html>
